<app-user-dashboard-container>
    
   <div class="row">
    <div class="col-12">
        <select class="form-select form-select-lg mb-3" aria-label="Large select">
            <option selected disabled>Select section</option>
            <option value="1">Section One</option>
            <option value="2">Section Two</option>
            <option value="3">Section Three</option>
          </select>
    </div>
    <div class="col-12">
        <table class="table text-center fs-4">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Start At</th>
                    <th>End At</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Exam</td>
                    <td>31/12/2023</td>
                    <td>Not active</td>
                    <td>1:00 PM</td>
                    <td>2:00 PM</td>
                    <td>
                        <button type="button" class="default-btn" disabled> 
                            <i class=""></i>
                            <i class="icon-arrow before fa-solid fa-play"></i> 
                            <span class="label">
                                Start
                            </span>
                            <i class="icon-arrow after fa-solid fa-play"></i> 
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Exam</td>
                    <td>31/12/2023</td>
                    <td>Not active</td>
                    <td>1:00 PM</td>
                    <td>2:00 PM</td>
                    <td>
                        <button type="button" class="default-btn" disabled> 
                            <i class=""></i>
                            <i class="icon-arrow before fa-solid fa-play"></i> 
                            <span class="label">
                                Start
                            </span>
                            <i class="icon-arrow after fa-solid fa-play"></i> 
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Exam</td>
                    <td>31/12/2023</td>
                    <td>Not active</td>
                    <td>1:00 PM</td>
                    <td>2:00 PM</td>
                    <td>
                        <button type="button" class="default-btn" disabled> 
                            <i class=""></i>
                            <i class="icon-arrow before fa-solid fa-play"></i> 
                            <span class="label">
                                Start
                            </span>
                            <i class="icon-arrow after fa-solid fa-play"></i> 
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Exam</td>
                    <td>31/12/2023</td>
                    <td>Active</td>
                    <td>1:00 PM</td>
                    <td>2:00 PM</td>
                    <td>
                        <button type="button" class="default-btn"> 
                            <i class=""></i>
                            <i class="icon-arrow before fa-solid fa-play"></i> 
                            <span class="label">
                                Start
                            </span>
                            <i class="icon-arrow after fa-solid fa-play"></i> 
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Exam</td>
                    <td>31/12/2023</td>
                    <td>Active</td>
                    <td>1:00 PM</td>
                    <td>2:00 PM</td>
                    <td>
                        <button type="button" class="default-btn"> 
                            <i class=""></i>
                            <i class="icon-arrow before fa-solid fa-play"></i> 
                            <span class="label">
                                Start
                            </span>
                            <i class="icon-arrow after fa-solid fa-play"></i> 
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
   </div>


</app-user-dashboard-container>