<app-user-dashboard-container>
    <div class="mb-4">
        <h4>Exams and Quizzes</h4>
    </div>
   <div class="row">
    <div class="col-12">

        <select class="form-select form-select-lg mb-3" [(ngModel)]="selectedSection" (change)="loadData(selectedSection)" aria-label="Large select">
            <option [value]="undefined" selected disabled>Select section</option>
            <option *ngFor="let section of _learnerService.allSectionsByLearnerId" [value]="section.sectionid"  >
              {{ section.sectionname }}
            </option>
          </select>

    </div>
    <div class="col-12">
        <table class="table text-center fs-4">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Start At</th>
                    <th>End At</th>
                    <th>Grade</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of _learnerService.allExamByUserSection">
                    <td *ngIf="data.examtype ==  1">Exam</td>
                    <td *ngIf="data.examtype ==  2">Quiz</td>
                    <td>{{data.examdate  | date:'mediumDate'}}</td>
                    <td *ngIf="isButtonEnabled(data)">Active</td>
                    <td *ngIf="!isButtonEnabled(data)">Not Active</td>
                    <td>{{data.openat | date:'shortTime' }}</td>
                    <td>{{data.closeat  | date:'shortTime'}}</td>

                    <td  *ngIf="data.examsolutionmark == -1">not submit</td>
                    <td  *ngIf="data.examsolutionmark != -1">{{data.examsolutionmark }}</td>
                    <td>{{data.exammark }}</td>
                    <td >
                        <button type="button" class="default-btn" [disabled]="!isButtonEnabled(data) || data.examsolutionmark != -1" [routerLink]="['/learner/exam/', data.examid]">
                            <i class=""></i>
                            <i class="icon-arrow before fa-solid fa-play"></i>
                            <span class="label">Start</span>
                            <i class="icon-arrow after fa-solid fa-play"></i>
                        </button>
                    </td>
                </tr>
              
            </tbody>
        </table>
    </div>
   </div>


</app-user-dashboard-container>