<div class="page-title-area page-title-style-three item-bg1">
    <div class="container">
        <div class="page-title-content" style="color: white;">
            <ul >
                <li style="color: white !important;"><a style="color: white !important;" href="index.html">Home</a></li>
                <li style="color: white;">Instructors</li>
            </ul>
            <h2 style="color: white;">Team of Instructors
            </h2>
        </div>
    </div>
</div>



<div class="instructor-area pt-100 pb-70">
    <div class="container">
        <div class="row">

            
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let instructor of shard.Instructors">
                <div class="single-instructor-member mb-30">
              
                    <div class="member-image" style="height: 350px;" >
                        <img [src]="instructor.userimage" alt="images" style="width: 90%; height: 100%;" >
                    </div>
                    <div class="member-content">
                        <h3><a (click)=GoToInstructor(instructor.userid)> {{instructor.firsname}}  {{instructor.lastname}}</a></h3>
                       
                        <ul class="social"> 

                            <li *ngIf="instructor.instructordetails[0].facebooklink != null"><a [href]="instructor.instructordetails[0].facebooklink" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li *ngIf="instructor.instructordetails[0].twitterlink != null"><a [href]="instructor.instructordetails[0].twitterlink" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li *ngIf="instructor.instructordetails[0].instagramlink != null"><a [href]="instructor.instructordetails[0].instagramlink" class="instagram" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            <li *ngIf="instructor.instructordetails[0].linkedinlink != null"><a [href]="instructor.instructordetails[0].linkedinlink" class="linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            <li *ngIf="instructor.instructordetails[0].experience != null"><a [href]="instructor.instructordetails[0].experience" class="pinterest" target="_blank"><i class='bx bx-detail'></i></a></li>


                        </ul>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>



<!-- 
<div class="become-instructor-partner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-content bg-color">
                    <h2>Become an Instructor</h2>
                    <p>Choose from hundreds of free courses, or get a degree or certificate at a breakthrough price. Learn at your own pace.</p>
                    <a routerLink="/login" class="default-btn"><i class='bx bx-plus-circle icon-arrow before'></i><span class="label">Apply Now</span><i class="bx bx-plus-circle icon-arrow after"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-image bg-image1">
                    <img src="assets/img/become-instructor.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-image bg-image2">
                    <img src="assets/img/become-partner.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-content">
                    <h2>Become a Partner</h2>
                    <p>Choose from hundreds of free courses, or get a degree or certificate at a breakthrough price. Learn at your own pace.</p>
                    <a routerLink="/login" class="default-btn"><i class='bx bx-plus-circle icon-arrow before'></i><span class="label">Contact Us</span><i class="bx bx-plus-circle icon-arrow after"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> -->