<app-user-dashboard-container>
    
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="bx bx-star"></i>
                    </div>
                    <h3 class="fs-15">115</h3>
                    <span class="d-block text-body-secondary">Total points</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-ribbon"></i>
                    </div>
                    <h3 class="fs-15">115</h3>
                    <span class="d-block text-body-secondary">Total badges</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-certificate"></i>
                    </div>
                    <h3 class="fs-15">115</h3>
                    <span class="d-block text-body-secondary">Total certificates</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-book"></i>
                    </div>
                    <h3 class="fs-15">115</h3>
                    <span class="d-block text-body-secondary">Total programs</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-book-open-reader"></i>
                    </div>
                    <h3 class="fs-15">115</h3>
                    <span class="d-block text-body-secondary">Completed courses</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-regular fa-comment-dots"></i>
                    </div>
                    <h3 class="fs-15">115</h3>
                    <span class="d-block text-body-secondary">Total Testimonials</span>
                </div>
            </div>
            
        </div>
    
</app-user-dashboard-container>