<app-user-dashboard-container>
    
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h3 class="fs-15">
                        {{this.learnerService.UserDashboarInfoByUserId.totalpoints == null ? '0' : this.learnerService.UserDashboarInfoByUserId.totalpoints}}
                    </h3>
                    <span class="d-block text-body-secondary">Total points</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-medal"></i>
                    </div>
                    <h3 class="fs-15">{{this.learnerService.UserDashboarInfoByUserId.total_Badges}}</h3>
                    <span class="d-block text-body-secondary">Total badges</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-award"></i>
                    </div>
                    <h3 class="fs-15">{{this.learnerService.UserDashboarInfoByUserId.total_Certificates}}</h3>
                    <span class="d-block text-body-secondary">Total certificates</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-book"></i>
                    </div>
                    <h3 class="fs-15">{{this.learnerService.UserDashboarInfoByUserId.total_Programs}}</h3>
                    <span class="d-block text-body-secondary">Total programs</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-book-open-reader"></i>
                    </div>
                    <h3 class="fs-15">{{this.learnerService.UserDashboarInfoByUserId.total_Certificates}}</h3>
                    <span class="d-block text-body-secondary">Completed courses</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                    <h3 class="fs-15">{{this.learnerService.UserDashboarInfoByUserId.total_Testimonials}}</h3>
                    <span class="d-block text-body-secondary">Total Testimonials</span>
                </div>
            </div>
            
        </div>
    
</app-user-dashboard-container>