<app-user-dashboard-container>
    
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h3 class="fs-15">
                        {{this.learnerService.UserDashboarInfoByUserId.totalpoints == null ? '0' : this.learnerService.UserDashboarInfoByUserId.totalpoints}}
                    </h3>
                    <span class="d-block text-body-secondary">Total points</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-medal"></i>
                    </div>
                    <h3 class="fs-15">{{this.learnerService.UserDashboarInfoByUserId.total_Badges}}</h3>
                    <span class="d-block text-body-secondary">Total badges</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-award"></i>
                    </div>
                    <h3 class="fs-15">{{this.learnerService.UserDashboarInfoByUserId.total_Certificates}}</h3>
                    <span class="d-block text-body-secondary">Total certificates</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-book"></i>
                    </div>
                    <h3 class="fs-15">{{this.learnerService.UserDashboarInfoByUserId.total_Programs}}</h3>
                    <span class="d-block text-body-secondary">Total programs</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-book-open-reader"></i>
                    </div>
                    <h3 class="fs-15">{{this.learnerService.UserDashboarInfoByUserId.total_Certificates}}</h3>
                    <span class="d-block text-body-secondary">Completed courses</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="state-box">
                    <div class="state-icon ms-auto me-auto rounded-circle position-relative">
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                    <h3 class="fs-15">{{this.learnerService.UserDashboarInfoByUserId.total_Testimonials}}</h3>
                    <span class="d-block text-body-secondary">Total Testimonials</span>
                </div>
            </div>
            
        </div>
    
</app-user-dashboard-container>

    <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h1>Congratulations!</h1>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <i class="fa-solid fa-graduation-cap my-icon"></i>
                </div>
            </div>
            <div class="row text-center mt-1">
                <div class="col-12">
                    <h4>You have finished {{this.numberOfPrograms}} programs</h4>
                </div>
            </div>
            <div class="row text-center mt-2">
                <div class="col-12">
                    <p>We are happy for you to tell us your experience during these programs</p>
                </div>
            </div>
            <div class="row mt-2 text-center" *ngFor="let p of this.learnerService.finishedPrograms">
               <div class="col-12">
                <app-program-feedback [userid]="this.getUserIdFromToken()" [programid]="p.programId" [programName]="p.programName"></app-program-feedback>
               </div>
            </div>
        </div>
    </p-dialog>