<app-user-dashboard-container>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="testimonial-card">
                <i class="fas fa-quote-right testimonial-quote"></i>
                <img class="testimonial-image" src="https://placekitten.com/100/100" alt="Testimonial Image">
                <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum semper mauris, vel posuere sapien fermentum vel."</p>
                <p class="testimonial-author">John Doe</p>
              </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="testimonial-card">
                <i class="fas fa-quote-right testimonial-quote"></i>
                <img class="testimonial-image" src="https://placekitten.com/100/100" alt="Testimonial Image">
                <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum semper mauris, vel posuere sapien fermentum vel."</p>
                <p class="testimonial-author">John Doe</p>
              </div>
        </div>
    </div>
    <div class="row ">
        <div class="col d-flex justify-content-center m-3">
            <button type="button" class="default-btn" disabled> 
                <i class=""></i>
                <i class="icon-arrow before fas fa-quote-right"></i> 
                <span class="label">
                    Add Testimonial
                </span>
                <i class="icon-arrow after fas fa-quote-right"></i> 
            </button>
        </div>
    </div>
  
</app-user-dashboard-container>
