<app-user-dashboard-container>
    <div class="row">
        <div *ngFor="let testimonial of this._learnerService.testimonialByUserId" class="col-lg-6 col-sm-12">
            <div class="testimonial-card">
                <i class="fas fa-quote-right testimonial-quote"></i>
                <img class="testimonial-image" src="https://grecosrestoration.files.wordpress.com/2018/02/testimonial-image-01.png?w=1200" alt="Testimonial Image">
                <p class="testimonial-text">{{ testimonial.review }}</p>
                
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col d-flex justify-content-center m-3">
            <button type="button" class="default-btn" (click)="toggleTestimonialForm()" style="border-radius: 15px;"> 
                <i class=""></i>
                <i class="icon-arrow before fas fa-quote-right"></i> 
                <span class="label">
                    Add Testimonial
                </span>
                <i class="icon-arrow after fas fa-quote-right"></i> 
            </button>
        </div>
    </div>
  
    <div class="contact-area" style="padding-bottom: 35px;" *ngIf="testimonialFormVisible">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Review </span>
                <h2>Send us your query anytime!</h2>
                <p>Your comment makes IQ better, please feel free ..</p>
            </div>
            <div class="contact-form">
                <div class="alert alert-success" role="alert" *ngIf="this._learnerService.AlertShow">
                    Message Sent Successfully
                  </div>
                <form [formGroup]="CreateReviewForm" >
                  
          
                        <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea required formControlName="review" id="message" cols="30" rows="5" class="form-control" placeholder="Your message..."></textarea>
                            </div>
                        </div>
                    </div>
                        <button type="button" (click)="SendReview()" class="default-btn mt-4" style="border-radius: 15px;">
                            <i class='bx bx-paper-plane icon-arrow before'></i>
                            <span class="label">Send Message</span>
                            <i class="bx bx-paper-plane icon-arrow after"></i>
                          </button>
                   
                </form>
            </div>
        </div>
        <!-- <div class="contact-bg-image"><img src="assets/img/map.png" alt="image"></div> -->
    </div>
</app-user-dashboard-container>