
<app-user-dashboard-container>
<div class="row">
    <div class="col-lg-4 col-12">
        <div class="card">
            <img src="https://img-c.udemycdn.com/course/750x422/2222850_4f40.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a routerLink="/learner/courseContent">Node JS Course</a></h5>
              <p class="card-text">Description Description Description </p>
              <i class="fa-solid fa-lock-open icon"></i>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-12">
        <div class="card ">
            <img src="https://img-c.udemycdn.com/course/750x422/2222850_4f40.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a routerLink="/learner/courseContent">Node JS Course</a></h5>
              <p class="card-text">Description Description Description </p>
              <i class="fa-solid fa-lock-open icon"></i>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-12">
        <div class="card locked-card">
            <img src="https://img-c.udemycdn.com/course/750x422/2222850_4f40.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a routerLink="">Node JS Course</a></h5>
              <p class="card-text">Description Description Description </p>
              <i class="fas fa-lock icon"></i>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-12">
        <div class="card locked-card">
            <img src="https://img-c.udemycdn.com/course/750x422/2222850_4f40.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a routerLink="">Node JS Course</a></h5>
              <p class="card-text">Description Description Description </p>
              <i class="fas fa-lock icon"></i>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-12">
        <div class="card locked-card">
            <img src="https://img-c.udemycdn.com/course/750x422/2222850_4f40.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a routerLink="">Node JS Course</a></h5>
              <p class="card-text">Description Description Description </p>
              <i class="fas fa-lock icon"></i>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-12">
        <div class="card locked-card">
            <img src="https://img-c.udemycdn.com/course/750x422/2222850_4f40.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a routerLink="">Node JS Course</a></h5>
              <p class="card-text">Description Description Description </p>
              <i class="fas fa-lock icon"></i>
            </div>
          </div>
    </div>
</div>
</app-user-dashboard-container>