<app-user-dashboard-container>
    <div class="mb-5">
        <h4>Completed Courses</h4>
    </div>
    <table class="table fs-5 text-center">
        <thead>
            <tr class="table-title">
                <th>Course name</th>
                <th>Status</th>
                <th>Certificate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of this.learnerService.MyCompletedCourses">
                <td>{{c.coursename}}</td>
                <td>
                    <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-danger" style="width: 100%">100%</div>
                    </div>
                </td>
                <td>
                    <a [href]="c.certificationimage" class="default-btn my-4">
                        <i class="icon-arrow before fa-solid fa-award"></i>
                        <span class="label mx-1">
                            Get Certificate
                        </span>

                        <i class="icon-arrow after fa-solid fa-award"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>



</app-user-dashboard-container>