<app-home-page-main-banner></app-home-page-main-banner>
<div class="funfacts-area pt-100">
  <div class="container">
    <div class="funfacts-inner">
      <app-funfacts></app-funfacts>
      <div id="particles-js-circle-bubble"></div>
    </div>
  </div>
</div>
<app-home-programs></app-home-programs>
<div class="courses-categories-area pb-70">
  <div class="container">
    <div class="section-title text-start">
      <span class="sub-title">Plans Categories</span>
      <h2>Browse Trending Plans</h2>
      <a routerLink="/courses-category-style-2" class="default-btn"
        ><i class="bx bx-show-alt icon-arrow before"></i
        ><span class="label">View All</span
        ><i class="bx bx-show-alt icon-arrow after"></i
      ></a>
    </div>
    <app-home-categories></app-home-categories>
  </div>
</div>
<div class="partner-area pb-100">
  <div class="container">
    <div class="section-title">
      <h2>Our Company & Partners</h2>
    </div>
    <app-partner></app-partner>
  </div>
</div>
<app-become-instructor></app-become-instructor>
<div class="testimonials-area pt-100">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">Testimonials</span>
      <h2>What Students Says</h2>
    </div>
    <app-feedback></app-feedback>
  </div>
</div>
<div class="blog-area pt-100 pb-70">
  <div class="container">
    <div class="section-title text-start">
      <span class="sub-title">Explore News</span>
      <h2>Our Latest Courses</h2>
    </div>
    <app-blog></app-blog>
  </div>
</div>
