
<div class="text-center mt-4">
  <p *ngIf="remainingTime > 0">Time remaining: {{ formatTime(remainingTime) }}</p>
  <p *ngIf="remainingTime <= 0">Time's up! The exam has ended.</p>
</div>
<div class="container p-5">
  <div class="row" *ngFor="let q of _instructorService.QuestionAndOptions; let i = index">
    <div class="card col-12 border-1">
      <div class="card-body">
        <h5 class="card-title">{{ q.questiondescription }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Weight: {{ q.questionweight }}</h6>

        <div class="d-flex flex-row">
          <div class="p-2 flex-fill" *ngFor="let o of q.questionoptions; let j = index">
            <div class="d-flex align-items-center">
              <input type="radio" [(ngModel)]="selectedOptions[q.questionid]" [value]="o.questionoptionid" (change)="print()" [name]="'question_' + i">
              <h4 style="margin-left: 5px;">
                {{ o.questionoptiondescription }}
              </h4>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <button mat-raised-button color="warn" (click)="Submit()">Submit</button>
</div>
