<div class="page-title-area item-bg1">
  <div class="container">
    <div class="page-title-content">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>Checkout</li>
      </ul>
      <h2>Checkout</h2>
    </div>
  </div>
</div>

<div class="checkout-area ptb-100">
  <div class="container">
    <div class="user-actions">
      <i class="bx bx-log-in"></i>
      <span
        >Returning customer?
        <a routerLink="/login">Click here to login</a></span
      >
    </div>
    <form>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="billing-details">
            <h3 class="title">Billing Details</h3>
            <div id="paypalbutton" *ngIf="view === 'paypal'"></div>
            <div class="row" *ngIf="view === 'default'">
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label>Country <span class="required">*</span></label>
                  <div class="select-box">
                    <select class="form-select">
                      <option>United Arab Emirates</option>
                      <option>China</option>
                      <option>United Kingdom</option>
                      <option>Germany</option>
                      <option>France</option>
                      <option>Japan</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label>Card Number <span class="required">*</span></label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>CVV <span class="required">*</span></label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>Card Expiry <span class="required">*</span></label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label
                    >Card Holder Name <span class="required">*</span></label
                  >
                  <input type="email" class="form-control" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>Phone <span class="required">*</span></label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="order-details">
            <h3 class="title">Your Order</h3>
            <div class="order-table table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let cartItem of this.learnerService.CartItemsByUserId
                    "
                  >
                    <td class="product-name">
                      <a routerLink="/single-products">{{
                        cartItem.program.programname
                      }}</a>
                    </td>
                    <td class="product-total">
                      <span class="subtotal-amount"
                        >${{
                          cartItem.program.programprice -
                            (cartItem.program.programprice *
                              cartItem.program.programsale) /
                              100
                        }}</span
                      >
                    </td>
                  </tr>

                  <!-- <tr>
                    <td class="order-subtotal">
                      <span>Cart Subtotal</span>
                    </td>
                    <td class="order-subtotal-price">
                      <span class="order-subtotal-amount">$1683.50</span>
                    </td>
                  </tr> -->
                  <tr>
                    <td class="order-shipping">
                      <span>Shipping</span>
                    </td>
                    <td class="shipping-price">
                      <span>Free</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="total-price">
                      <span>Order Total</span>
                    </td>
                    <td class="product-subtotal">
                      <span class="subtotal-amount"
                        >${{ this.learnerService.CartTotal }}</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="cart-buttons">
              <div class="row align-items-center">
                <div class="col-lg-7 col-sm-7 col-md-7">
                  <div class="shopping-coupon-code" style="width: 500px">
                    <input
                      [(ngModel)]="couponName"
                      [disabled]="isDisabled"
                      type="text"
                      class="form-control"
                      placeholder="Coupon code"
                      name="coupon-code"
                      id="coupon-code"
                    />
                    <div class="text-success-emphasis" *ngIf="isDisabled">
                      Coupon has been applied
                      <i class="fa-solid fa-check text-success-emphasis"> </i>
                    </div>
                    <button
                      type="submit"
                      (click)="HandleCoupon()"
                      [disabled]="couponName === '' || isDisabled"
                    >
                      Apply Coupon
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="payment-box">
              <div class="payment-method">
                <p>
                  <input
                    type="radio"
                    id="direct-bank-transfer"
                    name="radio-group"
                    [checked]="view === 'default'"
                    (change)="OnRadioButtonChange('default')"
                  />
                  <label for="direct-bank-transfer">Direct Bank Transfer</label>

                  Make your payment directly into our bank account. Please use
                  your Order ID as the payment reference. Your order will not be
                  shipped until the funds have cleared in our account.
                </p>
                <p>
                  <input
                    type="radio"
                    id="paypal"
                    name="radio-group"
                    [checked]="view === 'paypal'"
                    (change)="OnRadioButtonChange('paypal')"
                  />
                  <label for="paypal">PayPal</label>
                </p>
              </div>

              <a class="default-btn"
                ><i class="bx bx-paper-plane icon-arrow before"></i
                ><span class="label">Place Order</span
                ><i class="bx bx-paper-plane icon-arrow after"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
