<app-user-dashboard-container>
    <div class="row">
        <div class="col-12">
            <select class="form-select form-select-lg mb-3" aria-label="Large select">
                <option selected disabled>Select section</option>
                <option value="1">Section One</option>
                <option value="2">Section Two</option>
                <option value="3">Section Three</option>
            </select>
        </div>
        <div class="col-12">
            <table class="table text-center fs-4">
                <thead>
                    <tr>
                        <th>Assignment name</th>
                        <th>Description file</th>
                        <th>Deadline</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Assignment #1</td>
                        <td>
                            <a routerLink="#" class="optional-btn">
                                Download File
                            </a>
                        </td>
                        <td>12/12/2023</td>
                        <td>
                            <button type="button" class="default-btn" disabled>
                                <i class=""></i>
                                <i class="icon-arrow before fa-solid fa-file-export"></i>
                                <span class="label">
                                    Submit solution
                                </span>
                                <i class="icon-arrow after fa-solid fa-file-export"></i>
                            </button>
                        </td>

                    </tr>
                    <tr>
                        <td>Assignment #1</td>
                        <td>
                            <a routerLink="#" class="read-more-btn">
                                Download File
                            </a>
                        </td>
                        <td>12/12/2023</td>
                        <td>
                            <button type="button" class="default-btn">
                                <i class=""></i>
                                <i class="icon-arrow before fa-solid fa-file-export"></i>
                                <span class="label">
                                    Submit solution
                                </span>
                                <i class="icon-arrow after fa-solid fa-file-export"></i>
                            </button>
                        </td>

                    </tr>
                    <tr>
                        <td>Assignment #1</td>
                        <td>
                            <a routerLink="#" class="optional-btn">
                                Download File
                            </a>
                        </td>
                        <td>12/12/2023</td>
                        <td>
                            <button type="button" class="default-btn">
                                <i class=""></i>
                                <i class="icon-arrow before fa-solid fa-file-export"></i>
                                <span class="label">
                                    Submit solution
                                </span>
                                <i class="icon-arrow after fa-solid fa-file-export"></i>
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-user-dashboard-container>