<div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
>
  <!-- Sidebar Start -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <app-sidebar-instructor></app-sidebar-instructor>
    <!-- End Sidebar scroll-->
  </aside>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <app-header-instructor></app-header-instructor>
    <!--  Header End -->
    <div class="container-fluid">
      <div class="row">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
