<app-admin-container>
  <div class="col-md-12">
    <div class="card w-100">
      <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">All Educational Period</h5>
        <hr />
        <button
          class="btn btn-primary mb-4"
          (click)="CreateEducationalPeriod()"
        >
          Create New Period
        </button>
        <div class="table-responsive text-center">
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
               
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Start Date</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">End Date</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Edit/Delete</h6>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eduPeriod of educationalPeriods">
               
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{ eduPeriod.startdate }}</p>
                </td>
                <!-- <td class="border-bottom-0">
                               <div class="d-flex align-items-center gap-2">
                                 <span class="badge bg-primary rounded-3 fw-semibold"
                                   >Low</span
                                 >
                               </div>
                             </td> -->
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{ eduPeriod.enddate }}</p>
                </td>
                <td class="border-bottom-0">
                  <button
                    class="btn btn-success m-2"
                    (click)="UpdateEducationalPeriod(eduPeriod)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-edit"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                      />
                      <path
                        d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                      />
                      <path d="M16 5l3 3" />
                    </svg>
                  </button>
                  <button
                    class="btn btn-danger"
                    (click)="openDeleteDialog(eduPeriod.educationalperiodid)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-trash-filled"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007h16z"
                        stroke-width="0"
                        fill="currentColor"
                      />
                      <path
                        d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 -.117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005h4z"
                        stroke-width="0"
                        fill="currentColor"
                      />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <ng-template #DeleteDialog>
    <h1 mat-dialog-title>Delete file</h1>
    <div mat-dialog-content>Would you like to delete this Period ?</div>
    <div mat-dialog-actions align="center">
      <button
        mat-button
        mat-dialog-close="Cancel"
        class="btn btn-dark m-3"
        cdkFocusInitial
      >
        Cancel
      </button>
      <button
        mat-button
        mat-dialog-close="Delete"
        cdkFocusInitial
        class="btn btn-danger"
      >
        Delete
      </button>
    </div>
  </ng-template>
  <ng-template #CreateEducationalPeriodDialog>
    <h2 mat-dialog-title>Enter Period Details</h2>

    <mat-dialog-content>
      <form
        [formGroup]="eduDetails"
        class="d-flex justify-content-center align-items-center flex-column"
      >
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="startDatePicker"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
          <mat-error *ngIf="eduDetails.get('startDate')?.hasError('required')">
            * Field equired
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input
            matInput
            [matDatepicker]="endDatePicker"
            formControlName="endDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
          <mat-error *ngIf="eduDetails.get('endDate')?.hasError('required')">
            * Field equired
          </mat-error>
        </mat-form-field>

        <mat-dialog-actions align="center">
          <button
            class="btn btn-primary"
            [disabled]="eduDetails.get('startDate')?.hasError('required')"
            [mat-dialog-close]="true"
          >
            Create Period
          </button>
        </mat-dialog-actions>
      </form>
    </mat-dialog-content>
  </ng-template>
  <ng-template #UpdateEducationalPeriodDialog>
    <h2 mat-dialog-title>Enter Plan Details</h2>

    <mat-dialog-content>
      <form
        [formGroup]="eduDetails"
        class="d-flex justify-content-center align-items-center flex-column"
      >
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="startDatePicker"
            formControlName="startDate"
          />
          <mat-error *ngIf="eduDetails.get('startDate')?.hasError('required')">
            * Field equired
          </mat-error>
          <mat-datepicker-toggle
            matSuffix
            [for]="startDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input
          matInput
          [matDatepicker]="endDatePicker"
          formControlName="endDate"
          />
          <mat-error *ngIf="eduDetails.get('endDate')?.hasError('required')">
            * Field equired
          </mat-error>
          <mat-datepicker-toggle
            matSuffix
            [for]="endDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-dialog-actions align="center">
          <button class="btn btn-primary" [mat-dialog-close]="true">
            Update Period
          </button>
        </mat-dialog-actions>
      </form>
    </mat-dialog-content>
  </ng-template>
</app-admin-container>
