<div class="page-title-area item-bg1">
    <div class="container">
        <div class="page-title-content" style="color: white;">
            <ul style="color: white !important;">
                <li><a href="index.html"><span style="color: white;">Home</span></a></li>
                <li style="color: white;">Instructor Details</li>
            </ul>
            <h2 style="color: white;">Instructor Details</h2>
        </div>
    </div>
</div>

<div class="instructor-details-area pt-100 pb-70">
    <div class="container">
        <div class="instructor-details-desc">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="instructor-details-sidebar">
                        <img class="img-ins-size" src="{{this.shard.InstructorDetails.userimage}}" alt="image" style="height: 323px; width: 300px;">
                        <!-- <div class="instructor-details-meta">
                            <ul>
                                <li>
                                    <i class='bx bxs-group'></i>
                                    <span>Follower</span>
                                    <a routerLink="/">102</a>
                                </li>
                                <li>
                                    <i class='bx bx-group'></i>
                                    <span>Following</span>
                                    <a routerLink="/">81</a>
                                </li>
                            </ul>
                        </div> -->
                        <!-- <a routerLink="/contact" class="default-btn"><i class='bx bx-plus-circle icon-arrow before'></i><span class="label">Follow</span><i class="bx bx-plus-circle icon-arrow after"></i></a> -->
                        <ul class="social-link">
                            <li *ngIf="this.shard.instructorDetailsById.facebooklink != null"><a [href]="this.shard.instructorDetailsById.facebooklink" class="d-block facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li *ngIf="this.shard.instructorDetailsById.twitterlink != null"><a [href]="this.shard.instructorDetailsById.twitterlink" class="d-block twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li *ngIf="this.shard.instructorDetailsById.instagramlink != null"><a [href]="this.shard.instructorDetailsById.instagramlink" class="d-block instagram" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            <li *ngIf="this.shard.instructorDetailsById.linkedinlink != null"><a [href]="this.shard.instructorDetailsById.linkedinlink" class="d-block linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            <li *ngIf="this.shard.instructorDetailsById.experience != null"><a [href]="this.shard.instructorDetailsById.experience" class="d-block pinterest" target="_blank"><i class='bx bx-detail'></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="instructor-details">
                        <h3>{{this.shard.InstructorDetails.firsname}}  {{this.shard.InstructorDetails.lastname}}</h3>
                        <span class="sub-title">{{this.shard.instructorDetailsById.title}}</span>
                        <p>{{this.shard.instructorDetailsById.description}}</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="section-title text-start">
            <h2>Section by {{this.shard.InstructorDetails.firsname}}  {{this.shard.InstructorDetails.lastname}}</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let section of shard.sectionsByInstructorId">
                <div class="single-courses-box mb-30"  >
                    <!-- <div class="courses-image">
                        <a routerLink="/single-courses" class="d-block"><img src="{{section.imageName}}" alt="image"></a>
                        <div class="courses-tag">
                            <a routerLink="/" class="d-block">Business</a>
                        </div>
                    </div> -->
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle mr-2" alt="image">
                            <span>{{section.sectionname}}</span>
                        </div>
                        <!-- <h3><a routerLink="/single-courses" class="d-inline-block">Raque Professional IT Expert Certificate Course</a></h3> -->
                        <!-- <div class="courses-rating">
                            <div class="review-stars-rated">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                            <div class="rating-total">
                                5.0 (1 rating)
                            </div>
                        </div> -->
                    </div>
             
                </div>
            </div>
            
        </div>


    </div>
</div>