<app-user-dashboard-container>
    <table class="table text-center fs-5">
        <thead>
            <tr>
                <th>Section name</th>
                <th>Number of absecnes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>C# Section 2</td>
                <td>3</td>
                <td>
                    <button class="default-btn"> 
                        <i class="icon-arrow before fa-solid fa-align-justify"></i> 
                        <span class="label">
                            Details
                        </span>
                        <i class="icon-arrow after fa-solid fa-align-justify"></i> 
                    </button>
                        
                </td>
            </tr>
            <tr>
                <td>Web Design Section 1</td>
                <td>1</td>
                <td>
                    <button class="default-btn"> 
                        <i class="icon-arrow before fa-solid fa-align-justify"></i> 
                        <span class="label">
                            Details
                        </span>
                        <i class="icon-arrow after fa-solid fa-align-justify"></i> 
                    </button>
                        
                </td>
            </tr>
            <tr>
                <td>MVC Section 4</td>
                <td>4</td>
                <td>
                    <button class="default-btn"> 
                        <i class="icon-arrow before fa-solid fa-align-justify"></i> 
                        <span class="label">
                            Details
                        </span>
                        <i class="icon-arrow after fa-solid fa-align-justify"></i> 
                    </button>
                        
                </td>
            </tr>
        </tbody>
    </table>
</app-user-dashboard-container>