<app-admin-container>
  <div class="col-md-12">
    <div class="card w-100">
      <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">All Roles</h5>
        <hr>
        <button class="btn btn-primary mb-4" (click)="OpenCreateDialog()">
          <span>Create New Role</span>
        </button>
        <div class="table-responsive text-center">

          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              
              <tr>
               
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">ROLE NAME</h6>
                </th>

                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Actions</h6>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of _AdminService.Role">
                
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{ c.rolename }}</p>
                </td>

                <td class="border-bottom-0">
                  <button class="btn btn-primary m-2" (click)="OpenUpdateDialog(c)">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-edit"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                      />
                      <path
                        d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                      />
                      <path d="M16 5l3 3" />
                    </svg>
                  </button>
                  <button
                    class="btn btn-danger"
                    (click)="OpenConfirmDialog(c.roleid)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-trash-filled"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007h16z"
                        stroke-width="0"
                        fill="currentColor"
                      />
                      <path
                        d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 -.117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005h4z"
                        stroke-width="0"
                        fill="currentColor"
                      />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>


          <!-- dialogs -->

          <ng-template #CreateDialog>
            <form [formGroup]="CreateRoleForm">
              <div class="example-container" style="display: none;">
                <mat-form-field>
                  <mat-label>ID will be generated </mat-label>
                  <input matInput placeholder="Like: 5" formControlName="roleid" required />
                </mat-form-field>
              </div>
          
              <div class="example-container pt-3 mb-3">
                <mat-form-field>
                  <mat-label>Enter Role Name</mat-label>
                  <input matInput placeholder="Like: Manager2" formControlName="rolename" required />
                  <mat-error *ngIf="roleName?.hasError('required')">Role-Name is required</mat-error>
                  <mat-error *ngIf="roleName?.hasError('minlength')">Role-Name must be at least 4 characters</mat-error>
                  <mat-error *ngIf="roleName?.hasError('invalidRoleName')">Section Name Should Start With Letter</mat-error>

                </mat-form-field>
              </div>
          
              <button class="mt-4" [disabled]="CreateRoleForm.invalid" mat-dialog-close (click)="CreateRole()" mat-raised-button color="primary">
                Create
              </button>
            </form>
          </ng-template>



          <ng-template #UpdateDialog>
            <form [formGroup]="UpdateRoleForm">
              <div class="example-container" style="display: none;">
                <mat-form-field>
                  <mat-label>Role ID</mat-label>
                  <input matInput placeholder="Role ID" formControlName="roleid" required>
                  <mat-error *ngIf="UpdateRoleForm.controls['roleid'].hasError('required')">Role ID is required</mat-error>
                </mat-form-field>
              </div>
          
              <div class="example-container pt-3 mb-3">
                <mat-form-field>
                  <mat-label>Role Name</mat-label>
                  <input matInput placeholder="Role Name" formControlName="rolename" required>
                  <mat-error *ngIf="UpdateRoleForm.controls['rolename'].hasError('required')">Role Name is required</mat-error>
                  <mat-error *ngIf="roleName?.hasError('minlength')">Role-Name must be at least 4 characters</mat-error>
                  <mat-error *ngIf="roleName?.hasError('invalidRoleName')">Role Name Should Start With Letter</mat-error>
                </mat-form-field>
              </div>
          
              
          
              <button class="mt-4" mat-dialog-close [disabled]="UpdateRoleForm.invalid" mat-raised-button color="primary" (click)="UpdateRole()">Update</button>
            </form>
          </ng-template>

          <ng-template #ConfirmationDialog>
            <h1 mat-dialog-title>Delete Role</h1>
            <div mat-dialog-content>Would you like to delete the Role?</div>
            <div mat-dialog-actions>
              <button mat-button mat-dialog-close="no" cdkFocusInitial>
                No
              </button>
              <button mat-button mat-dialog-close="yes">Yes</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</app-admin-container>
