
<div class="testimonials-slides">
  <owl-carousel-o [options]="testimonialsSlides">

    <ng-template carouselSlide *ngFor="let testimonial of _adminService.testimonialsAccepted">
      <div class="single-testimonials-item">
        <p>
          {{testimonial.review }}
        </p>
        <div class="info">
          <img
          [src]="testimonial.user.userimage"
            class="shadow rounded-circle"
            alt="image"
          />
          <h3>{{testimonial.user.firsname}}  {{testimonial.user.lastname}}</h3>
          <span>{{testimonial.user.userlogins[0].role.rolename}}</span>

        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
