<app-insturctor-container>
  <div class="row">
    <div class="col-lg-12">
      <h1><span class="my-highlight">Welcome Back!</span></h1>
      <span class="instructor-name">{{this.instructorService.InstructorName.fullName}}</span>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-4 col">
      <div class="card text-center">
        <div class="card-title py-4">
          <h1 class="main-color"><i class="fa-solid fa-school"></i></h1>
          <h4 class="fw-bolder">Your Sections</h4>
          <p class="fs-6">{{this.instructorService.sectionsByInstructorId.length}}</p>
        </div>

      </div>
    </div>
    <div class="col-lg-4 col">
      <div class="card text-center">
        <div class="card-title py-4">
          <h1 class="main-color"><i class="fa-solid fa-user-graduate"></i></h1>
          <h4 class="fw-bolder">Your Students</h4>
          <p class="fs-6">{{this.instructorService.NumberOfInstructorStudents}}</p>
        </div>

      </div>
    </div>
    <div class="col-lg-4 col">
      <div class="card text-center">
        <div class="card-title py-4">
          <h1 class="main-color"><i class="fa-solid fa-file-pen"></i></h1>
          <h4 class="fw-bolder">Your Lectures</h4>
          <p class="fs-6">{{this.instructorService.NumberOfInstructorLectures}}</p>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="card d-flex align-items-center">
        <div class="card-title">
          <h4 class="mx-4 my-3">Students Performance</h4>
        </div>
        <table class="table text-center fs-4">
          <thead>
            <tr>
              <th>Rank</th>
              <th width="50%">Student name</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of this.instructorService.TopStudentsByInstructor">
              <td>{{s.ranking}}</td>
              <th class="d-flex flex-row">
                <span>
                  <img [src]="s.userimage" width="35" height="35" class="rounded-circle "
                    style="margin-right: 10px; width: 35px; height: 35px;">
                </span>
                <span class="mt-2">{{s.firsname}} {{s.lastname}}</span>
              </th>
              <td>
                {{s.totalpoints}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-title mt-3">
          <h4 style="margin-left: 20px; padding-bottom: 45px; margin-top: 13px;">Start from here</h4>
        </div>
        <ul class="my-list">
          <li class="d-flex flex-row">
            <h3><i class="fa-solid fa-pencil icon"></i></h3>
            <a class="my-link" routerLink="/instructor/manageExams">Create Exam</a>
          </li>
          <li class="d-flex flex-row">
            <h3><i class="fa-solid fa-file-import icon"></i></h3>
            <a class="my-link" routerLink="/instructor/assignments">Create Assignmant</a>
          </li>
          <li class="d-flex flex-row">
            <h4><i class="fa-solid fa-users icon"></i></h4>
            <a class="my-link" routerLink="/instructor/manageAttendence">Take Attendence</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</app-insturctor-container>