<div class="blog-slides">
  <owl-carousel-o [options]="blogSlides">
    <ng-template carouselSlide *ngFor="let course of this.adminService.courses">
      <div class="single-blog-post mb-30" style="width: 400px">
        <div class="post-image">
          <a routerLink="/single-blog" class="d-block">
            <img [src]="course.courseimage" alt="image" />
          </a>
          <div class="tag">
            <a routerLink="/">{{ course.courselevel }}</a>
          </div>
        </div>
        <div class="post-content">
          <ul class="post-meta">
            <li class="post-author">
              <img
                src="assets/img/user1.jpg"
                class="d-inline-block rounded-circle mr-2"
                alt="image"
              />
              By: <a routerLink="/" class="d-inline-block">Steven Smith</a>
            </li>
            <li><a routerLink="/">August 30, 2019</a></li>
          </ul>
          <h3>
            <a routerLink="/single-blog" class="d-inline-block">{{
              course.coursename
            }}</a>
          </h3>
          <a routerLink="/single-blog" class="read-more-btn"
            >Read More <i class="bx bx-right-arrow-alt"></i
          ></a>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
