<div class="login-area">
  <div class="row m-0">
    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-image">
        <img
          src="../../../assets/img/motivation-course/training-course-banner.png"
          alt="image"
        />
      </div>
    </div>
    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-content">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="login-form">
              <div class="logo">
                <a routerLink="/"
                  ><img src="assets/img/black-logo.png" alt="image"
                /></a>
              </div>
              <h3>Welcome back</h3>
              <p>New to Gamify? <a routerLink="/Register">Sign up</a></p>
              <form [formGroup]="loginDetails" (ngSubmit)="OnSubmit()">
                <div class="form-group">
                  <input
                    type="email"
                    placeholder="Your email"
                    class="form-control"
                    formControlName="username"
                    id="username"
                  />
                  <div
                    *ngIf="
                      username?.invalid &&
                      (username?.dirty || username?.touched)
                    "
                  >
                    <div
                      *ngIf="username?.hasError('required')"
                      class="text-danger"
                    >
                      Username is required.
                    </div>
                    <div
                      *ngIf="username?.hasError('email')"
                      class="text-danger"
                    >
                      Invalid email format.
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input
                    type="password"
                    placeholder="Your password"
                    class="form-control"
                    formControlName="password"
                  />
                  <div
                    *ngIf="
                      password?.invalid &&
                      (password?.dirty || password?.touched)
                    "
                  >
                    <div
                      *ngIf="password?.hasError('required')"
                      class="text-danger"
                    >
                      Password is required.
                    </div>
                    <div
                      *ngIf="password?.hasError('minlength')"
                      class="text-danger"
                    >
                      Password should be 10 characters or more!.
                    </div>
                  </div>
                </div>
                <button type="submit" [disabled]="loginDetails.invalid">
                  Login
                </button>
                <div class="forgot-password">
                  <a (click)="OpenForgetPasswordDialog()">Forgot Password?</a>
                </div>
                <div class="connect-with-social">
                  <button type="submit" class="facebook">
                    <i class="bx bxl-facebook"></i> Connect with Facebook
                  </button>
                  <button type="submit" class="twitter">
                    <i class="bx bxl-twitter"></i> Connect with Twitter
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    [(visible)]="visibility"
    [style]="{ width: '35vw', height: '15rem' }"
  >
    <div
      class="d-flex justify-content-center align-items-center flex-column w-100"
    >
      <p>Please enter your email</p>

      <div class="w-50">
        <div class="form-group pb-3">
          <input
            type="email"
            placeholder="Your email"
            class="form-control"
            id="username"
            [(ngModel)]="usernameToResetPassword"
          />
        </div>
        <div class="text-center">
          <button class="btn btn-primary" (click)="CheckUsername()">
            Reset password
          </button>
        </div>
        <div *ngIf="this.InvalidUserName" class="text-center">
          <span class="text-danger"
            >Please enter a valid email or username</span
          >
        </div>
      </div>
    </div>
  </p-dialog>
</div>
<div class="card flex justify-content-center">
  <p-dialog [(visible)]="OTPView" [style]="{ width: '35vw', height: '15rem' }">
    <div
      class="d-flex justify-content-center align-items-center flex-column w-100"
    >
      <p>We have sent an otp for your email,please enter the otp to verify</p>

      <div class="w-50">
        <div class="form-group pb-3">
          <input
            type="number"
            placeholder="OTP code"
            class="form-control"
            [(ngModel)]="userOTP"
          />
        </div>
        <div class="text-center">
          <button class="btn btn-primary" (click)="CheckMatchingOTP()">
            Validate otp
          </button>
        </div>
        <div *ngIf="this.inValidOTP" class="text-center">
          <span class="text-danger">Not valid OTP,please try again! </span>
        </div>
      </div>
    </div>
  </p-dialog>
</div>
<div class="card flex justify-content-center">
  <p-dialog
    [(visible)]="ResetPasswordView"
    [style]="{ width: '35vw', height: '18rem' }"
  >
    <div
      class="d-flex justify-content-center align-items-center flex-column w-100"
    >
      <p>Please enter your new password</p>

      <div class="w-50">
        <div class="form-group pb-3">
          <input
            type="password"
            placeholder="Your new password"
            class="form-control"
            [formControl]="newPassword"
          />
        </div>
        <div class="text-center">
          <button
            class="btn btn-primary"
            (click)="UpdateUserPassword()"
            [disabled]="this.newPassword.invalid"
          >
            Reset password
          </button>
        </div>
        <div *ngIf="this.newPassword.invalid" class="w-100">
          <span class="text-danger"
            >Password should be 10 and contain at least one uppercase letter,
            one number!
          </span>
        </div>
      </div>
    </div>
  </p-dialog>
</div>
